package ${daoInterfacePackage};

import java.util.List;

import net.dromard.movies.model.${modelClassname};

public interface ${daoInterfaceClassname} {
	public ${modelClassname} findById(int id);
	
	public List<${modelClassname}> findAll();
	
	public ${modelClassname} persist(${modelClassname} entity);
	
	public void remove(int id);
	
	public void flush();

	public void clear();
}
