	<head>
		<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8"> 
		<meta http-equiv="Pragma" content="no-cache"/>
    	<meta http-equiv="cache-control" content="no-cache">
    	<meta http-equiv="expires" content="0">
		
		<title>${title}</title>

		<!-- Theme -->
		<link rel="stylesheet" media="screen" type="text/css" href="${contextPath}/resources/theme/dtx/styles/theme.css">
		<link rel="stylesheet" media="screen" type="text/css" href="${contextPath}/resources/theme/dtx/styles/component-tab.css">
		<link rel="stylesheet" media="screen" type="text/css" href="${contextPath}/resources/theme/dtx/styles/component-menu.css">
		<link rel="stylesheet" media="screen" type="text/css" href="${contextPath}/resources/theme/dtx/styles/component-modal.css">
		<link rel="stylesheet" media="screen" type="text/css" href="${contextPath}/resources/theme/dtx/styles/component-expandable-fieldset.css">
		<!-- Theme Scripts -->
		<script type="text/javascript" language="JavaScript" src="${contextPath}/resources/theme/dtx/scripts/prototype.js"></script>
		<script type="text/javascript" language="JavaScript" src="${contextPath}/resources/theme/dtx/scripts/control.modal.js"></script>
		<script type="text/javascript" language="JavaScript" src="${contextPath}/resources/theme/dtx/scripts/components.js"></script>
		<script type="text/javascript" language="JavaScript" src="${contextPath}/resources/theme/dtx/scripts/component-tab.js"></script>
		<script type="text/javascript" language="JavaScript" src="${contextPath}/resources/theme/dtx/scripts/component-expandable-fieldset.js"></script>
		<script type="text/javascript" language="JavaScript" src="${contextPath}/resources/theme/dtx/scripts/dateutil.js"></script>

		<!-- DtX Scripts -->
		<script type="text/javascript" language="JavaScript" src="${contextPath}/resources/scripts/localized-messages.jsp"></script>
		<script type="text/javascript" language="JavaScript" src="${contextPath}/resources/scripts/dtx.js"></script>
		<style>
			body { behavior: url(${contextPath}/resources/theme/dtx/scripts/csshover.htc); }
		</style>
		${CONTENT}
		<!-- Application -->
		<link rel="stylesheet" media="screen" type="text/css" href="${contextPath}/resources/styles/dtx.css">
	</head>
